<%# <h1>Questions#answer</h1> <p>Find me in app/views/questions/answer.html.erb</p> %>
<h1>Your Coach Says</h1>

<p><strong>You asked:</strong> <%= @question %></p>
<p><strong>Coach:</strong> <%= @answer %></p>

<%= link_to "Ask another question", ask_path, class: "btn btn-secondary mt-3" %>
